.error {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: auto;
  background-color: #00000030;
}

.text {
  color: white;
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 40%;
  padding-top: 20vh;
  margin: 10px;
}

.text h1 {
  font-size: 72pt;
  margin-bottom: 30px;
  font-weight: 600;
}

.text h3 {
  font-size: 18pt;
  margin-bottom: 15px;
  font-weight: 400;
  font-style: italic;
}

.text h4 {
  font-size: 24pt;
  margin-bottom: 15px;
  font-weight: 400;
}
